<h2>User Registration</h2>
<form method="post">
    {% csrf_token %}

    Username<br>
    <input type="text" name="username"><br>

    Email<br>
    <input type="email" name="email"><br>

    Password<br>
    <input type="password" name="password"><br>

    Phone<br>
    <input type="text" name="phone"><br>

    Gender<br>
    <select name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select><br>

    City<br>
    <input type="text" name="city"><br>

    Date of birth<br>
    <input type="date" name="dob"><br><br>

    <button type="submit">Register</button>
</form>


<a href="{% url 'login' %}">Already have account? Login</a>



